@import '../Maze.scss';

$wall-border-radius: 15%;
$height-width-factor: 0.2;
$wall-width: $shape-length * $height-width-factor;

@mixin get-wall-size($posiiton, $scale-factor) {
  $length: $shape-length * $scale-factor;
  $width: $wall-width * $scale-factor;
  $length-offset: ($length - $shape-length) / 2;
  $width-offset: ($width - $wall-width) / 2;
  
  @if $posiiton == h {
    width: $length;
    height: $width;
    top: -$width-offset;
    left: -$length-offset;
  } @else if $posiiton == v {
    width: $width;
    height: $length;
    top: -$length-offset;
    left: -$width-offset;
  }
}

.wall, .wall::before {
  border-radius: $wall-border-radius;
}

.wall-v, .wall-h {
  background: rgba(0, 0, 0, 0.7);
  border: none;
}

.wall-v::before, .wall-h::before {
  @extend %before-shape; 
  
  background: #cedebd;
  border: 1px solid #411f1f;
}

.wall-v, .wall-v::before {
  @include get-wall-size(v, 1);
}

.wall-h, .wall-h::before {
  @include get-wall-size(h, 1);
}

.wall-v {
  margin-top: $margin;
}

.wall-h {
  margin-left: $wall-width + $margin;
  margin-right: $margin;
}

.wall:focus::before {
  border-width: 2px;
}

.wall-v:hover::before {
  @include get-wall-size(v, 1.2);
}

.wall-v:focus::before {
  @include get-wall-size(v, 1.5);
}

.wall-h:hover::before {
  @include get-wall-size(h, 1.2);
}

.wall-h:focus::before {
  @include get-wall-size(h, 1.5);
}
