@import '../Maze.scss';

$hover-scale-factor: 1.2;
$focus-scale-factor: 1.5;
$length-width-scale-factor: 0.2;
$wall-width: $shape-length * $length-width-scale-factor;

@mixin get-wall-size($posiiton, $scale-factor) {
  $length: $shape-length * $scale-factor;
  $width: $wall-width * $scale-factor;
  $length-offset: ($length - $shape-length) / 2;
  $width-offset: ($width - $wall-width) / 2;
  
  @if $posiiton == h {
    width: $length;
    height: $width;
    top: -$width-offset;
    left: -$length-offset;
  } @else if $posiiton == v {
    width: $width;
    height: $length;
    top: -$length-offset;
    left: -$width-offset;
  }
}

.wall {
  background: none;
  border: none;
}

.wall::before {
  @extend %before-shape; 
  
  border: 1px solid black;
  border-radius: 15%;
}

.wall-v, .wall-v::before {
  @include get-wall-size(v, 1);
}

.wall-h, .wall-h::before {
  @include get-wall-size(h, 1);
}

.wall-v {
  margin-top: $margin;
}

.wall-h {
  margin-left: $wall-width + $margin;
  margin-right: $margin;
}

.wall:focus::before {
  border-width: 2px;
}

.wall-v:hover::before {
  @include get-wall-size(v, $hover-scale-factor);
}

.wall-v:focus::before {
  @include get-wall-size(v, $focus-scale-factor);
}

.wall-h:hover::before {
  @include get-wall-size(h, $hover-scale-factor);
}

.wall-h:focus::before {
  @include get-wall-size(h, $focus-scale-factor);
}

/* ************************************************ */
/*                     Wall types                   */
/* ************************************************ */

.wall-none {
  cursor: default!important;
}

.wall-none::before {
  display: none;
}

.wall-stone:before {
  background: #ffbd69;
}

.wall-output:before {
  background: #69ff8c;
}

.wall-rubber:before {
  background: #ff69ee;
}

.wall-translucent:before {
  background: #69dcff;
}

.wall-external:before {
  background: #c70039;
}
