$shape-length: 50px;
$margin: 2px;

%before-shape {
  display: block;
  content: '';
  position: relative;
}

.maze-element {
  cursor: pointer;
  outline: none;

  &::before {
    transition: 0.08s;
  }

  &:focus::before, 
  &:hover:focus::before {
    transition: 0.2s;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
    z-index: 2;
  }
  
  &:hover::before {
    z-index: 1;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
  }

  &.danger {
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
}
