@import '../Maze.scss';

$hover-scale-factor: 1.2;
$focus-scale-factor: 1.4;

@mixin get-cell-size($scale-factor) {
  $width: $shape-length * $scale-factor;
  $offset: ($width - $shape-length) / 2;
  
  width: $width;
  height: $width;
  top: -$offset;
  left: -$offset;
}

.cell, .cell::before {
  @include get-cell-size(1);
  border-radius: 10%;
}

.cell {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  margin: $margin;
}

.cell::before {
  @extend %before-shape;

  border: 2px solid black;
}

.cell:hover::before,
.cell.hover::before {
  @include get-cell-size($hover-scale-factor);
}

.cell:focus::before {
  @include get-cell-size($focus-scale-factor);

  border-width: 3px;
}

/* ************************************************ */
/*                     Wall types                   */
/* ************************************************ */

.cell-none::before {
  background: #f3f3f3;
  cursor: default;
}

.cell-none:hover::before,
.cell-none:focus::before {
  @include get-cell-size(1);
  border-width: 2px;
}

.cell-hospital::before {
  background: tomato;
}

.cell-arsenal::before {

}

.cell-treasure::before {

}

.cell-fake-treasure::before {

}

.cell-spawn::before {

}

.cell-river::before {

}

.cell-river-start::before {

}

.cell-river-end::before {

}

.cell-trap::before {

}

.cell-pit-in::before {

}

.cell-pit-out::before {

}
