@import '../Maze.scss';

$hover-scale-factor: 1.2;
$focus-scale-factor: 1.4;

@mixin get-cell-size($scale-factor) {
  $width: $shape-length * $scale-factor;
  $offset: ($width - $shape-length) / 2;
  
  width: $width;
  height: $width;
  top: -$offset;
  left: -$offset;
}

.cell, .cell::before {
  @include get-cell-size(1);
  border-radius: 10%;
}

.cell {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  margin: $margin;
}

.cell::before {
  @extend %before-shape;

  background: #f3f3f3;
  border: 2px solid black;
}

.cell:hover::before {
  @include get-cell-size($hover-scale-factor);
}

.cell:focus::before {
  @include get-cell-size($focus-scale-factor);

  border-width: 3px;
}
