@import '../MazeElement/MazeElement.scss';

$hover-scale-factor: 1.2;
$focus-scale-factor: 1.4;
$length-width-scale-factor: 0.2;
$wall-width: $shape-length * $length-width-scale-factor;

@mixin get-wall-size($posiiton, $scale-factor) {
  $length: $shape-length * $scale-factor;
  $width: $wall-width * $scale-factor;
  $length-offset: ($length - $shape-length) / 2;
  $width-offset: ($width - $wall-width) / 2;
  
  @if $posiiton == h {
    width: $length;
    height: $width;
    top: -$width-offset;
    left: -$length-offset;
  } @else if $posiiton == v {
    width: $width;
    height: $length;
    top: -$length-offset;
    left: -$width-offset;
  }
}

.wall {
  background: none;
  border: none;

  &::before {
    @extend %before-shape; 
    
    border: 1px solid black;
    border-radius: 15%;
  }

  &-v, &-v::before {
    @include get-wall-size(v, 1);
  }

  &-h, &-h::before {
    @include get-wall-size(h, 1);
  }

  &-v {
    margin-top: $margin;
  }
  
  &-h {
    margin-left: $wall-width + $margin;
    margin-right: $margin;
  }
  
  &-v.hover::before {
    @include get-wall-size(v, $hover-scale-factor);
  }
  
  &-h.hover::before {
    @include get-wall-size(h, $hover-scale-factor);
  }
  
  &-v:focus::before {
    @include get-wall-size(v, $focus-scale-factor);
  }
  
  &-h:focus::before {
    @include get-wall-size(h, $focus-scale-factor);
  }
  
  /* ************************************************ */
  /*                     Wall types                   */
  /* ************************************************ */

  &-none {
    &::before {
      opacity: 0;
      cursor: default;
      border: none;
    }
    
    &.hover.drag-hover::before {
      background: black;
      opacity: 0.4;
      filter: none;
    }
  }
  
  &-stone:before {
    background: #b29832;
  }
  
  &-output:before {
    background: #5bcb10;
  }
  
  &-rubber:before {
    background: #8010cb;
  }
  
  &-translucent:before {
    background: #69dcff;
  }
  
  &-external:before {
    background: #cb1910;
  }
}
