$shape-length: 50px;
$margin: 2px;

%before-shape {
  display: block;
  content: '';
  position: relative;
}

.maze-element {
  cursor: pointer;
  outline: none;
}

.maze-element::before {
  transition: 0.08s;
}

.maze-element:focus::before {
  transition: 0.2s;
}
    
.maze-element.over::before,
.maze-element.hover::before {
  z-index: 1;
}

.maze-element:focus::before {
  z-index: 2;
}
