$shape-length: 50px;
$margin: 2px;

%before-shape {
  display: block;
  content: '';
  position: relative;
}

.maze button {
  padding: 0;
}

.maze {
  button::before,
  button:hover::before,
  button:focus::before {
    transition: 0.08s;
  }
}

.maze button:hover::before {
  z-index: 1;
}

.maze button:focus::before {
  z-index: 2;
}

.maze button:focus {
  outline: none;
}
